<ion-view view-title="About This Program">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Developer
            </div>
            <div class="item item-text-wrap">
                Berker Sönmez
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                API
            </div>
            <div class="item item-text-wrap">
                Döviz.com API
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Historical Exchange Rates
            </div>
            <div class="item item-text-wrap">
                Türkiye Cumhuriyeti Merkez Bankası http://www.tcmb.gov.tr/
            </div>
        </div>
    </ion-content>
</ion-view>